@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&family=Rubik+Gemstones&display=swap");
body {
  background: url(./image/bg.3680a79.png);
}
#menu {
  width: 100%;
  border: 1px solid #000;
  height: 100px;
  background-color: #181818;
}

.logo {
  width: 100px;
  height: 100px;
}

#information {
  max-width: 100%;
  height: 1200px;
}
#menu ul li {
  list-style-type: none;
  display: inline;
  margin-left: 150px;
}
#menu ul li a {
  color: #fff;
  font-family: "Rubik Gemstones", cursive;
}
#menu ul li a:link {
  color: #671612;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#menu ul li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

#menu ul li a:hover {
  color: #fff;

  -webkit-box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.93);
  -moz-box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.93);
  box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.93);
}
/* .carousel-item active img{
   
   height: 620px; */
/* } */
.intro img {
  width: 100%;
}

.box {
  width: 100%;
  height: 550px;
  background: url(./image/background.webp);
  margin-top: 25px;
}
.title__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.product {
  list-style: none; /* mất dấu chấm*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  margin-left: 60px;
  margin-right: 70px;
}
ul.product li {
  flex-basis: 18%;
  padding-left: 15px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  border: 2px solid rgb(206, 195, 195);
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 5px 1px 1px #f2f3f3;
}
ul.product li img {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}
.product__img {
  display: block;
}
.product__top .product__img img {
  display: block;
}
.buy__now {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: rgb(41, 77, 77);
  padding: 10px 0px;
  color: white;
}

.product__info {
  margin-left: 10px;
  padding: 10px 0px;
}
.product__info a {
  display: block;
  text-decoration: none;
}
.product__info a .product__cat {
  font-size: 11px;
  text-transform: uppercase;
  padding: 3px 0px;
}
.product__info a .product__name {
  color: aliceblue;
  padding: 3px 0px;
  margin-top: 10px;
}
.product__badge {
  display: flex;
  margin-bottom: 10px;
  margin-top: 15px;
}
.product__info__item {
  font-size: 11px;
  color: #3a3a3a;
  border: 1px solid #d1d5db;
  padding: 1px 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.product__money {
  color: #e34e5f;
  padding: 2px 0px;

  font-size: 20px;
}
.promotions {
  width: auto;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
  background: #f3f4f6;
  align-items: flex-start;
  margin-left: 0;
  font-size: 12px;
  line-height: 1.5;
  text-transform: none;
  overflow: hidden;
}
.coupon-price {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.sale__frame {
  position: absolute;
}
.sale {
  width: 100%;
  margin-top: 200px;
  background: url(./image/background.webp);
  border-radius: 0;
  padding-top: 30px;
  position: relative;
  z-index: 1;
}
.sale__img {
  position: absolute;

  z-index: 1;
  text-align: right;

  margin-left: 100px;
}
.sale__frame__donate {
  position: absolute;
  margin-top: 800px;
}

.end {
  padding: 15px;
  margin-top: 1050px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  position: relative;
  overflow-x: hidden;
  background: #fff !important;
}
.end__content {
  width: 1200px;
  margin: 0 auto;
  display: block;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.end__content__text {
  display: flex;
  justify-content: space-between;
}

.search__text {
  font-size: 16px;
  font-weight: 700;
}

.text {
  text-decoration: none;
  list-style: none;
}
.call__text {
  list-style: none;
}
